{% extends 'master.html' %} {% block content %}
<a href="{% url 'categories' %}" class="btn btn-secondary mb-3"><i class="bi bi-arrow-left"></i> Zurück zur Kategorieübersicht</a>
<h1 class="mb-3"><i class="{{ category.icon }}"></i> {{ category.name }}</h1>
    <a href="{% url 'category_edit' category.id %}" class="btn btn-primary"><i class="bi bi-pencil"></i> Kategorie bearbeiten</a>
    <a href="{% url 'category_delete' category.id %}" class="btn btn-danger ms-1"><i class="bi bi-trash"></i> Kategorie löschen</a>
{% if category.parent_category %}
<h3>Übergeordnete Kategorie: <b>{{ category.parent_category.name }}</b></h3>
{% endif %}
<h3>Unterkategorien</h3>
{% if category.subcategories.all %}
<ul>
    {% for subcategory in category.subcategories.all %}
    <li>
        {% if subcategory.icon %}
        <i class="{{ subcategory.icon }}"></i>&nbsp;
        {% endif %}
        {{ subcategory.name }}
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Keine Unterkategorien.</p>
{% endif %}
{% endblock %}