{% extends 'master.html' %}
{% load humanize %}
{% load i18n %}
{% block content %}
<h1>{% trans "Account Overview" %}</h1>
<a href="{% url 'account_add' %}" class="btn btn-primary mb-3">
    <i class="bi bi-plus-circle me-1"></i> {% trans "Add new account" %}
</a>

<h3>{% trans "My active accounts:" %}</h3>
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Account Number" %}</th>
            <th class="text-end">{% trans "Current Balance" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        {% if account.is_mine and not account.is_closed%}
            {% with balance=account.get_current_balance %}
                <tr>
                    <td><a href="{% url 'account_detail' account.id %}">{{ account.name }}</a></td>
                    <td>{{ account.account_nr|default:"-" }}</td>
                    <td class="text-end
                        {% if balance > 0 %}
                            text-success
                        {% elif balance < 0 %}
                            text-danger
                        {% endif %}">
                        {{ balance|floatformat:2|intcomma }} €
                    </td>
                </tr>
            {% endwith %}
        {% endif %}
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">{% trans "No accounts found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3 class="mt-5">{% trans "My closed accounts:" %}</h3>
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Account Number" %}</th>
            <th class="text-end">{% trans "Current Balance" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        {% if account.is_mine and account.is_closed%}
            {% with balance=account.get_current_balance %}
                <tr>
                    <td><a href="{% url 'account_detail' account.id %}">{{ account.name }}</a></td>
                    <td>{{ account.account_nr|default:"-" }}</td>
                    <td class="text-end
                        {% if balance > 0 %}
                            text-success
                        {% elif balance < 0 %}
                            text-danger
                        {% endif %}">
                        {{ balance|floatformat:2|intcomma }} €
                    </td>
                </tr>
            {% endwith %}
        {% endif %}
        {% empty %}
        <tr>
            <td colspan="3" class="text-center">{% trans "No accounts found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3 class="mt-5">{% trans "External accounts:" %}</h3>
<table class="table table-hover align-middle">
    <thead>
        <tr>
            <th>{% trans "Name" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        {% if not account.is_mine%}
            <tr>
                <td><a href="{% url 'account_detail' account.id %}">{{ account.name }}</a></td>
            </tr>
        {% endif %}
        {% empty %}
        <tr>
            <td colspan="1" class="text-center">{% trans "No accounts found." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}