{% load static %}
{% load i18n %}
{% load humanize %}

{% regroup page_obj by timestamp|date:"F Y" as transactions_by_month %}

{% for month in transactions_by_month %}
    
    {% if not forloop.first or month.grouper != last_month_grouper %}
        <div class="month-header mt-4 mb-2">
            <h3 class="text-body-secondary border-bottom pb-2">{{ month.grouper }}</h3>
        </div>
    {% endif %}

    {% regroup month.list by timestamp|date:"SHORT_DATE_FORMAT" as transactions_by_day %}
    {% for day in transactions_by_day %}
        <div class="day-header ms-2 mt-3">
            <strong>{{ day.grouper }}</strong>
        </div>
        <div class="list-group ms-2">
            {% for t in day.list %}
                
                {% include 'transactions/_transaction_item.html' %}
                
           {% endfor %}
        </div>
    {% endfor %}
{% endfor %}

{% if page_obj.has_next %}
    {% with current_last_month=transactions_by_month|last %}
    
    <div id="load-more-trigger"
        hx-get="{% url 'transactions' %}?last_month={{ current_last_month.grouper|urlencode }}&page={{ page_obj.next_page_number }}{% for key, values in request.GET.lists %}{% if key != 'page' and key != 'last_month' %}{% for value in values %}&{{ key }}={{ value|urlencode }}{% endfor %}{% endif %}{% endfor %}"         
        hx-trigger="revealed"
        hx-swap="outerHTML">
         
        <div class="text-center p-3">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">{% trans "Loading more..." %}</span>
            </div>
        </div>
    </div>
    
    {% endwith %}
{% endif %}