{% extends 'master.html' %}

{% block content %}
<a href="{% url 'transactions' %}" class="btn btn-secondary mb-3"><i class="bi bi-arrow-left"></i> Zurück zur Transaktionsübersicht</a><br>
  <i>Transaktion vom {{ transaction.timestamp|date:"d.m.Y H:i" }}</i>
    <div class="card mt-3"> 
        <div class="card-body"> 
            <h5 class="card-title"> 
                {{ transaction.sender }} 
                {% if transaction.sender.is_mine %}
                    <a href="{% url 'account_detail' transaction.sender.id %}"><i class="bi bi-box-arrow-up-right"></i></a>
                {% endif %}
                 &rarr; 
                 {{ transaction.receiver }} 
                {% if transaction.receiver.is_mine %}
                    <a href="{% url 'account_detail' transaction.receiver.id %}"><i class="bi bi-box-arrow-up-right"></i></a>
                {% endif %}
            
            </h5>
            <p class="card-text"><i>Betrag:</i> <strong>{{ transaction.amount }} €
            </strong></p>
            {% if transaction.description %}
                <p class="card-text"><i>Beschreibung:</i> <br> {{ transaction.description }}</p>
            {% endif %}
            {% if is_refund_of %}
                <p class="card-text text-warning">Diese Transaktion ist eine Rückerstattung von folgenden Transaktionen:</p>
                <ul>
                    {% for refund in is_refund_of %}
                    <li>
                        Transaktion ID {{ refund.original_transaction.id }}: {{ refund.original_transaction.amount }} € am {{ refund.original_transaction.timestamp|date:"d.m.Y H:i" }}
                        <a href="{% url 'transaction_detail' refund.original_transaction.id %}">
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if refunds %}
                <p class="card-text text-success">Diese Transaktion hat folgende Rückerstattungen:</p>
                <ul>
                    {% for refund in refunds %}
                    <li>
                        Rückerstattung ID {{ refund.refund_transaction.id }}: {{ refund.refund_transaction.amount }} € am {{ refund.refund_transaction.timestamp|date:"d.m.Y H:i" }}
                        <a href="{% url 'transaction_detail' refund.refund_transaction.id %}">
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
<div class="mt-4 border-top pt-3 d-flex justify-content-end">
    
    <a href="{% url 'transaction_edit' transaction.id %}" class="btn btn-outline-primary me-2">
        <i class="bi bi-pencil"></i> Bearbeiten
    </a>
    
    <a href="{% url 'transaction_delete' transaction.id %}" class="btn btn-outline-danger">
        <i class="bi bi-trash"></i> Löschen
    </a>

</div>
{% endblock %}