{% extends 'master.html' %}
{% load i18n %}

{% block content %}
  <h1>{% trans "Transactions" %}</h1>

  <a href="{% url 'transaction_add' %}" class="btn btn-primary mb-3">
    <i class="bi bi-plus-circle me-1"></i> {% trans "New Transaction" %}
  </a>
  
  {% if is_filter_active %}
    <a href="{% url 'transactions' %}" class="btn btn-outline-secondary mb-3">
      {% trans "Reset filters" %}
    </a>
  {% endif %}

  {% if transaction_list_future %}
    <button class="btn btn-outline-info mb-3 ms-2" type="button" 
            data-bs-toggle="collapse" data-bs-target="#futureTransactionsCollapse" 
            aria-expanded="false" aria-controls="futureTransactionsCollapse"
            onclick="this.classList.add('d-none')">
      <i class="bi bi-calendar-event me-1"></i> {% trans "Show future transactions" %} ({{ transaction_list_future|length }})
    </button>

    <div class="collapse mb-4" id="futureTransactionsCollapse">
      <div class="month-header mt-2 mb-2">
          <h3 class="text-body-secondary border-bottom pb-2">{% trans "Future" %}</h3>
      </div>
      
      {% regroup transaction_list_future by timestamp|date:"SHORT_DATE_FORMAT" as future_transactions_by_day %}
      {% for day in future_transactions_by_day %}
          <div class="day-header ms-2 mt-3">
              <strong>{{ day.grouper }}</strong>
          </div>
          <div class="list-group ms-2">
              {% for t in day.list %}
                  {% include 'transactions/_transaction_item.html' %}
              {% endfor %}
          </div>
      {% endfor %}
    </div>
  {% endif %}

  <div id="transaction-list-container">
      {% include 'transactions/_transaction_list_partial.html' %}
  </div>

  {% if not page_obj.object_list %}
      <p class="mt-3 text-body-secondary">{% trans "No transactions found." %}</p>
  {% endif %}

{% endblock %}