{% extends 'master.html' %}

{% block content %}
  <h1>Transaktionen</h1>

  <a href="{% url 'transaction_add' %}" class="btn btn-primary mb-3">Neue Transaktion</a>
  
  {% if is_filter_active %}
    <a href="{% url 'transactions' %}" class="btn btn-outline-secondary mb-3">Filter zurücksetzen</a>
  {% endif %}

  <div id="transaction-list-container">
      {% include 'transactions/_transaction_list_partial.html' %}
  </div>

  {% if not page_obj.object_list %}
      <p class="mt-3">Keine Transaktionen gefunden.</p>
  {% endif %}

{% endblock %}