{% extends 'charts/chart_common.html' %}
{% load l10n %}
{% load i18n %}

{% block chart_title %}{% trans "Account Balance over Time" %}{% endblock %}

{% block chart_content %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        
        const getCurrentTheme = () => document.documentElement.getAttribute('data-bs-theme') === 'dark' ? 'dark' : 'light';

        var options = {
            series: [{
                name: '{% trans "Total" %}',
                data: [
                    {% for balance in balances_over_time %}
                    [new Date({{ balance.date|unlocalize }}000), {{ balance.balance|unlocalize }}]{% if not forloop.last %},{% endif %}
                    {% endfor %}
                ]
            }],
            chart: {
                type: 'area',
                height: 300,
                fontFamily: 'inherit',
                background: 'transparent',
                toolbar: {
                    show: true 
                },
                zoom: {
                    type: 'x',
                    enabled: true,
                    autoScaleYaxis: true
                },
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'stepline',
                width: 2
            },
            xaxis: {
                type: 'datetime',
                tooltip: {
                    enabled: false
                }
            },
            yaxis: {
                labels: {
                    formatter: function (value) {
                        return value.toFixed(2) + " €";
                    }
                }
            },
            theme: {
                mode: getCurrentTheme(), 
            },
            colors: ['#0d6efd'],
            fill: {
                type: 'gradient',
            },
            tooltip: {
                x: {
                    format: 'dd. MMM yyyy'
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();

        const observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.attributeName === "data-bs-theme") {
                    chart.updateOptions({
                        theme: {
                            mode: getCurrentTheme()
                        }
                    });
                }
            });
        });
        
        observer.observe(document.documentElement, { attributes: true });
    });
  </script>
{% endblock %}