{% extends 'master.html' %}
{% load static %}
{% block content %}
    <h1 class="mb-4">Analyse</h1>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="/charts/balance_over_time" class="text-decoration-none text-body">
                <div class="card h-100 shadow-sm border-0 bg-body-tertiary">
                    <img src="{% static 'charts/chart_balance_over_time.webp' %}" class="card-img-top" alt="Vorschau Kontostand" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Kontostand</h5>
                        <p class="card-text text-body-secondary">Zeigt den absoluten Kontostand über einen gewählten Zeitraum an</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <a href="/charts/sankey" class="text-decoration-none text-body">
                <div class="card h-100 shadow-sm border-0 bg-body-tertiary">
                    <img src="{% static 'charts/chart_sankey.webp' %}" class="card-img-top" alt="Vorschau Sankey" />
                    <div class="card-body">
                        <h5 class="card-title fw-bold">Einnahmen/Ausgaben Sankey</h5>
                        <p class="card-text text-body-secondary">Zeigt Einnahmen und Ausgaben nach Kategorie in einem Sankey an</p>
                    </div>
                </div>
            </a>
        </div>

    </div>

{% endblock %}